<header id="nav-bar" class="container">
  <span class="original_h1">Galrally</span><h1><small style="margin-left:20px"><%= (title_tag = Tag.where(id: @tag_id).first).blank? ? "ギャル" : title_tag.tag %>の無料エロ動画</small></h1>
</header>
