<footar id="nav-bar" class="container" style="border-top: 1px solid #e5e5e5;margin-top:20px">
  <div class="row">
    <div class="span12">
      <a href="https://twitter.com/NaoshiHoshi" class="twitter-follow-button" data-show-count="false" data-lang="ja">@NaoshiHoshiさんをフォロー</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <a href="http://b.hatena.ne.jp/entry/http://galrally.info" class="hatena-bookmark-button" data-hatena-bookmark-title="Galrally - 日本人ギャル動画を集めたエロサイト" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
  </div>
  <div class="row">
    <%# 更新情報 %>
    <div class="span3">
      <h3>Information</h3>
      <p>13/08/11 リリースしました。</p>
      <p>13/08/08 βテスト開始</p>
    </div>

    <%# 連絡 %>
    <div class="span3">
      <h3>Stay in touch</h3>
      <ul style="font-size:30px;"class="nav nav-pills">
        <li class="disabled"><%= link_to "","http://d.hatena.ne.jp/watasihasitujidesu/",{class: "icon-pencil-5",target: "_blank"} %></li>
        <li class="disabled"><%= link_to "","https://twitter.com/NaoshiHoshi",{class: "icon-twitter-4",target: "_blank"} %></li>
        <li class="disabled"><%= link_to "","https://www.facebook.com/naoshi.hoshi",{class: "icon-facebook-4",target: "_blank"} %></li>
        <li class="disabled"><a href="mailto:shiona.shiho【＠】gmail.com" class="icon-mail-7"></a></li>
      </ul>
    </div>

    <%# サイトポリシー %>
    <div class="span3">
      <h3>Site policy</h3>
      <p>このサイトはエロサイトです。18歳未満の方は閲覧できません<br/>
      このサイトはエロ動画共有サイトからリンクを抽出して掲載していますが、エロ動画が著作権者の同意のもとにアップロードされているかどうかを確認しておりません。著作権等の問題がございましたら、お手数ですが、エロ動画共有サイトのほうへお問い合わせください</p>
    </div>
  </div>
</footar>
